<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.checkupregister"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.checkupregister.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.checkupregister.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.checkupregister.ProfilActivity"
            android:label="@string/title_activity_profil" >
        </activity>
        <activity
            android:name="com.checkupregister.JadwalDokterActivity"
            android:label="@string/title_activity_jadwal_dokter" >
        </activity>
        <activity
            android:name="com.checkupregister.List_dokter"
            android:label="@string/title_activity_list_dokter" >
        </activity>
        <activity
            android:name="com.checkupregister.DetailDokterActivity"
            android:label="@string/title_activity_detail_dokter" >
        </activity>
        <activity
            android:name="com.checkupregister.FormRegActivity"
            android:label="@string/title_activity_form_reg" >
        </activity>
        <activity
            android:name="com.checkupregister.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name="com.checkupregister.Activity_list_history"
            android:label="@string/title_activity_activity_list_history" >
        </activity>
        <activity
            android:name="com.checkupregister.DetailDokActivity"
            android:label="@string/title_activity_detail_dok" >
        </activity>
    </application>

</manifest>
